.first-map {
    background-image: url('./assets//ground/grass.jpg');
    background-size: 80px 80px;
    background-repeat: repeat;
}

.tile {
    display: inline-flex;
    background-size: cover;
    background-position: center;
}

.grass {
    background-image: url('./assets/ground/grass.jpg');
}

.basic-rock {
    background-image: url('./assets/ground/basicrock.png');
}

.basic-tree {
    background-image: url('./assets/ground/basictree.png');
}