.player-items {
    @apply w-16 bg-no-repeat border-2 border-gray-500;
    height: 200px;
    background-size: 100% 100%;
    background-image: url('./assets/inventory/player_layout.png');
}

.player-item {
    height: 25%;
}

.inventory-tab {
    @apply ml-10 bg-no-repeat p-2;
    width: 335px;
    height: 200px;
    background-image: url('./assets/inventory/inventory_tab.png');
}